@media only screen and (max-width: 768px) {
    .card {
        max-width: none !important;
        width: 100%;
    }
    h1 {
        word-spacing: 1px;
        letter-spacing: -2px;
        line-height: 110%;
        font-size: 400%;
        text-align: center;
        text-shadow: 2px 2px #f368e0;
        margin-top: 5%;
}

    h2 {
        word-spacing: 4px;
        letter-spacing: -2px;
        line-height: 145%;
        font-size: 400%;
        text-align: center;
        text-shadow: 2px 2px #f368e0;
    }
}